:root{
    --col-blue1     : #0092DD;
    --col-blue2     : #3BB4F2;
    --col-blue3     : #7EC6EB;
    --col-blue4     : #BCDCED;
    --col-blue5     : #DFEDF4;
    --col-gray1     : #4f4f4f;
    --col-gray2     : #828282;
    --col-gray3     : #bdbdbd;
    --col-gray4     : #e0e0e0;
    /*  */
    --font-primary  : 'Montserrat', sans-serif;
    --font-accent   : 'Raleway', sans-serif;
    --font-p-bold   : 800;
    --font-p-regular: 500;
    --font-p-light  : 300;
    --font-a-bold   : 700;
    --font-a-regular: 400;
    --font-a-light  : 200;
}

* {
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    overflow-x      : hidden;
    font-family     : var(--font-primary);
    color           : var(--col-gray1)
}


html, 
body {
    width           : 100vw;
}

    /* HEADER */
header{
    background      : var(--col-blue1);
}

header menu {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    width           : 93vw;
    margin          : 0 auto;
    padding-right   : 10px;
}

menu img {
    height: 50px;
}

.social i{
    color           : white;
    border          : 2px solid white;
    border-radius   : 50%;
    margin-right    : 8px;
    height          : 34px;
    width           : 34px;
    text-align      : center;
    padding-top     : 7.5px;
}

    /* BANNER */
.banner {
    height          : 300px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    gap             : 10px;
    background      : var(--col-blue5);
}

.banner h3 {
    font-family     : var(--font-accent);
    font-weight     : var(--font-a-regular);
}

.banner button {
    margin-top      : 20px;
    padding         : 16px 60px;
    border          : none;
    border-radius   : 5px;
    background-color: var(--col-blue1);
    color           : white;
    font-weight     : var(--font-p-bold);
}

    /* VIDEO */
.video {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : 25px;
    padding         : 30px 0 40px;
}

.video h2 {
    color           : var(--col-blue2);
    font-size       : 2rem;
}

.video iframe {
    width           : 100vw;
    height          : calc(100vw / 1.77153558052434);
    max-width       : 949px;
    max-height      : 534px;
}

    /* CONTEUDO */

.conteudo {
    display         : flex;
    flex-direction  : column;
    text-align: center;
}

.conteudo img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.texto{
    padding: 100px 0
}
.texto > h2{
    font-size: 2.1rem;
    color: var(--col-blue1)
}
.texto > *{
    padding: 10px 30px
}

.conquistas {
    background: var(--col-blue5);
}

.conquista img{
    width           : 100px;
}

    /* PROBLEMA */
.problema{
    background-color: var(--col-blue5);
}