* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --col-primary:;
    --col-accent:;
    --col-bg:;
    --col-font:;
    /*  */
    --font-primary:;
    --font-accent:;
}

html, 
body {
    width: 100vw
}